#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#loginLogo > img {
    /* min-height: 50%; */
    max-width: 100%;
    height: auto;
}

.loginContainer {
 margin: auto;
 width: 50%;
 border: 2px solid black;
 padding: 15px;
 font-size: large;
 height: fit-content;
 background-color: #f0f0f0;
}

#loginSubmitButton {
    width: fit-content;

}

input {
    width: 65%;
    height: 20px;
}

.column {
    float: left;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left, .right {
    width: 10%;
}

.center {
    width: 80%;
}

hr {
    border: 1px green solid;
    width: 50%;
    margin-bottom: 2%;
}

#usernameError, #passwordError {
    color: red;
    font-size: 13px;
}