#loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: 30%;
    border-bottom: 2px solid green;
}

#loginLogo > img {
    max-width: 100%;
    height: auto;
}

.loginContainer {
 margin: auto;
 width: 50%;
 border: 1.5px solid gray;
 padding-left: 15px;
 padding-right: 15px;
 padding-bottom: 15px;
 font-size: large;
}

.loginContainer > p {
    margin-top: 10px;
}

input {
    width: 65%;
    height: 20px;
}

input[type=submit] {
    width: 20%;
    height: 30px;
}

input[type=submit]:hover {
    color: white;
    background-color: rgb(102, 161, 244);
    border-radius: 5px;
}

.column {
    float: left;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.left, .right {
    width: 10%;
}

.center {
    width: 80%;
}