body {
    font-family: Arial, sans-serif;
    justify-content: left;
    align-items: left;
    height: 100px;
    background-color: #f4f4f4;
}

.password-container {
    width: 400px;
    padding-top: 20px;
}

.window-header {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    font-size: 17px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    font-size: 1em; 
    width: 400px; 
    white-space: nowrap; 
    margin-left: 10px;
}

input { 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    width: 200px; 
    margin-left: 10px;
}

button {
    background-color: darkgreen;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: darkgreen;
    background-color: gold;
}
